<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="styleSheets/base.css"/>
    <link rel="stylesheet" type="text/css" href="styleSheets/chatroom.css"/>

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

		<title>Sofa King</title>
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	</head>
	<body>
    <div>
      <div>
        <div class="tab" style="background-color : rgb(60,190,60);">
          <a class="tab" href="#urlPopup" data-rel="popup">Suggest a New Video</a>

          <div data-role="popup" id="urlPopup" class="ui-content" style="min-width:1000px;">
            <form id="suggestInput" method="post" action="demoform.asp">
              <label for="usrnm" class="ui-hidden-accessible">URL:</label>
              <input type="text" name="url" id="videoSuggestion" placeholder="URL">
            </form>
          </div>
        </div>
        <div class="tab" style="background-color : rgb(190,60,60);">
          <a class="tab" href="#videoQ" data-rel="popup">Video Queue</a>

          <div data-role="popup" id="videoQ" class="ui-content" style="min-width:1000px;">
              <!-- Write video Queue display -->
              next video to be displayed
          </div>
        </div>
        <div class="tab" style="background-color : rgb(190,60,190);">
          <a class="tab" href="#votingPopup" data-rel="popup">Voting</a>

          <div data-role="popup" id="votingPopup" class="ui-content" style="min-width:1000px;">
              <ul id="votingArea"></ul>
          </div>
        </div>
      </div>
      <div style="clear: left; float : left; width: 50%; height : 480px;">
  		    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/qaddgd8UI90" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="userlist" style="float : left;">
        User list
      </div>
      <div class="chatbox" style="clear : left">
          <ul id="chatlog"></ul>
          <form id="chatInput" action="">
              <input id="m" autocomplete="off" />
          </form>
      </div>
    </div>

    <script>

    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      $('#chatInput').submit(function(e){
        e.preventDefault();
        socket.emit('chat message', {message: $('#m').val()});
        $('#m').val('');
        return false;
      });

      socket.on('chat message', function(data){
        $('#chatlog').append($('<li>').text(data.message));
      });

      $('#suggestInput').submit(function(e){
          e.preventDefault();
          socket.emit('suggest video', {suggestedvideo: $('#videoSuggestion').val()});
          $('#videoSuggestion').val('');
          return false;
      });

      socket.on('suggest video', function(data){
          $('#votingArea').append($('<li>').text(data.suggestedvideo));
      });
    </script>

	</body>

</html>
