<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="styleSheets/base.css"/>
		<title>Sofa King</title>
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	</head>
	<body>
    <div
      <div>

      </div>
      <div style="float : left;">
  		    <iframe width="560" height="315" src="https://www.youtube.com/embed/qaddgd8UI90" frameborder="0" allowfullscreen></iframe>
      </div>
      <div style="float : left;">
        try hard
      </div>
      <div style="clear : left">
        testings
      </div>
    </div>
	</body>
</html>
