<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="styleSheets/base.css"/>
		<title>Sofa King</title>
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	</head>
	<body>

		<h1 id="banner">SofaKing</h1>
		<img class='logo' src="/img/logo.png"/>

		<ul id="sidebar">
			<a href="/">Home</a><br>
			<a href="team">Team</a><br>
			<a href="about">About SofaKing</a><br>
			<a href="roomSelection">Chatroom Selection Skeleton</a>
		</ul>

		{{{body}}}

	</body>
</html>
