<h1><strong>SofaKing</strong></h1>
<h2>Watching youtube videos together was never SofaKing fun</h2>

<logo></logo>

<p>Have you wanted to enjoy your favorite youtube videos together with your friends? SofaKing brings the living-room experience<br>
right to your desktop. Watching youtube videos in-sync has never been this easy! Queue up music videos to watch and discuss with <br>
your friends. Or expand your horizons and by watching videos that interest you with others in your area! It even includes voice <br>
communications so you immerse yourself in the living room experience. <br>
</p>

<p>
SofaKing was designed to solve issues of wanting to enjoy videos in-sync with other users. Sometimes there are shows or music <br>
that you want to enjoy with others at the same. SofaKing makes it easy to hop into chatrooms in your area, and allows you to <br>
explore videos with others. It also provides basic communication needs (VOIP, chatbox) to allow to communicate and discuss topics <br>
about the video or just socialize. In addition it includes a voting system that allows users to suggest and pick videos they want to <br>
explore. Some chat features are included to prevent poor user experience caused by others (local/global muting, kicking from chatroom). <br>
</p>

<p>
<ul><u><strong>Use Cases : </strong></u><br>
  <br>
  <li>Watching your favorite sports moment with buddies </li>
  <li>Teacher with online lecture showing video to class </li>
  <li>Friends want to share music together </li>
  <li>See what videos are being watched on-campus </li>
  <li>Watching a youtube show/podcast with friends </li>
  <li>Discuss the newest movie trailer with locals in your area</li>
</ul>
</p>

<p>
This tech could be expanded to assist professors teaching online courses. Creating virtual movie thearters. People with long-distance presentations <br>
It also could expand to support many different media types including streamed content (live streams, music, podcasts, other video formats) <br>
</p>
