<img src="{{logo}}"/>
<h2 id="banner"><strong>Chatrooms</strong></h2>

<ul id="sidebar">
	<a href="/">Home</a><br>
	<a href="team">Team</a><br>
	<a href="temp">Make a session name</a><br>
	<a href="about">About SofaKing</a>
</ul>

<h1>List of available chatrooms</h1>

<ul>
   {{#each rooms}}
   <div id="box">
      <li><a href="/">{{this.name}}</a><p>{{this.desc}}</p></li>
   </div>
   {{/each}}
</ul>
