<style>
#list {
   list-style-type: none;
}
</style>

<h3>List of available chatrooms</h3>

<ul id="list">
   {{#each rooms}}
   <div id="box">
      <li><a href="/">{{this.name}}</a><p>{{this.desc}}</p></li>
   </div>
   {{/each}}
</ul>
