<style>
#list {
   list-style-type: none;
}
</style>

<h3 id="banner"><strong>Chatrooms</strong></h3>

<h4>List of available chatrooms</h4>

<p>There are ({{rooms.length}}) available chatrooms:</p>

<ul id="list">
   {{#each rooms}}
   <div id="box">
      <li><a href="/roomView?roomName={{name}}">{{this.name}}</a><p>--{{this.desc}}</p></li>
   </div>
   {{/each}}
</ul>
