<h1>{{title}}</h1>

<div>{{message}}</div><br>

<form method="post" action="/auth">
  Username: <input type="text" name="name"> <br>
  Password:  <input type="password" name="pass"> <br><br>
  <button>Login</button>
</form>
<br>
<a style="color:rgb(255,0,0);">{{feedback}}</a>
