<div>
   <h2>Watch your favorite videos with your closest friends!</h2><br>
   <img src="/img/roomview-screenshot.png"/>
</div><br>

<div>
   <h2>Browse for chatrooms on our interactive map!</h2><br>
   <ul>
      <li>Watch videos with friends from across the <strong>world</strong>!</li>
      <li>Host a chatroom from wherever you are!</li>
      <li>Pick from an extensive list of already established chatrooms!</li>
   </ul>
   <img src="/img/map-screenshot.png"/>
</div>
