

<h1 id="banner">SofaKing</h1> 
<img src="{{logo}}"/>

<ul id="sidebar">
	<a href="/">Home</a><br>
	<a href="team">Team</a><br>
	<a href="temp">Make a session name</a><br>
	<a href="about">About SofaKing</a>
</ul>
<div>
	<h2>Session Name</h2>
</div>
