<h1 id="banner">SofaKing</h1>
<img src="{{logo}}"/>
<div>
	<h2>Session Name</h2>
</div>

<div id="sidebar">
	<a href="team">Team</a>
	<a href="temp">Make a session name</a>
	<a href="about">About SofaKing</a>

</div>