  <body>
    <div id="player"></div>

    <script>

    function onYouTubeIframeAPIReady() {
    var player;
    player = new YT.Player('player', {
    	   videoId: 'M7lc1UVf-VE',
    	   playerVars: { 'autoplay': 1, 'controls': 0 },
    	   events: {
     	    'onReady': onPlayerReady,
      	    'onPlaybackQualityChange': onPlayerPlaybackQualityChange,
     	    'onStateChange': onPlayerStateChange,
      	    'onError': onPlayerError
    	    }
  	  });
	}
    </script>
   </body>
