body
{
	background-color: rgb(200,200,200);
  padding: 50px;
  margin: 0px;
	-moz-box-shadow:    inset 0 0 50px rgb(10,10,10);
	-webkit-box-shadow: inset 0 0 50px rgb(10,10,10);
	box-shadow:         inset 0 0 50px rgb(10,10,10);
}
