<<<<<<< HEAD
#banner {
    padding-left: 40%;
    font-size: 50px;
}
#body{
   padding-bottom: 50px;
   padding-left: 50px;
   padding-right: 50px;
   margin-bottom: 50px;
   margin-left: 50px;
   margin-right: 50px;
}
#box{
    background-color: rgb(240,240,240);
    border-radius: 10px;
}
img{
    padding-left:35%;
}
p {
    font-size: 1em;
}
ul p {
    margin: 10px;
 }
=======
/*
Red : rgb(174,14,14)
White : rgb(255,255,255)
Black : rgb(27,22,20)
Yellow : rgb(222,207,39)
*/

>>>>>>> 268ff3eecbad4e203d3e2516b579134680589592
body
{
    background-color: rgb(250,250,250);
}
html {
	-moz-box-shadow:    inset 0 0 5px rgb(10,10,10);
	-webkit-box-shadow: inset 0 0 5px rgb(10,10,10);
	box-shadow:         inset 0 0 5px rgb(10,10,10);
}
a {
   color: blue;
}
a:hover {
    color: red;
}
a:visited {
    color: yellow;
}
